@page "/bladedesign"
@inject IAuthenticationService AuthService
@inject AuthenticationStateProvider AuthState
@inject IBladeEndpoints BladeEndpoints
@attribute [Authorize]

<PageTitle>Blade</PageTitle>

<EditForm Model="@model" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="container-fluid">
        <h4>Blade Design:</h4>
        <div class="row row-cols-3">
            <div class="col g-3">
                <div class="form-floating mb-3">
                    <InputText id="bladeName" class="form-control" @bind-Value="model.Name" placeholder="Axial Flux M003" />
                    <ValidationMessage For=@(() => model.Name) />
                    <label for="bladeName">Name of Blade:</label>
                </div>
                <div class="form-floating mb-3">
                    <InputNumber id="bladeLenght" class="form-control" @bind-Value="model.Length_mm" placeholder="1600" />
                    <ValidationMessage For=@(() => model.Length_mm) />
                    <label for="bladeLenght">Length (mm)</label>
                </div>
                <div class="form-floating mb-3">
                    <InputNumber id="bladeWidth" class="form-control" @bind-Value="model.Width_mm" placeholder="40" />
                    <ValidationMessage For=@(() => model.Width_mm) />
                    <label for="bladeWidth">Width (mm)</label>
                </div>
                <div class="form-floating mb-3">
                    <InputNumber id="bladeThickness" class="form-control" @bind-Value="model.Thickness_mm" placeholder="40" />
                    <ValidationMessage For=@(() => model.Thickness_mm) />
                    <label for="bladeThickness">Thickness (mm)</label>
                </div>
                <div class="form-floating mb-3">
                    <InputNumber id="bladeWeight" class="form-control" @bind-Value="model.Weight_g" placeholder="30" />
                    <ValidationMessage For=@(() => model.Weight_g) />
                    <label for="bladeWeight">Blade Weight (g)</label>
                </div>
                <div class="form-floating mb-3">
                    <InputNumber id="bladeAngleOfAttack" class="form-control" @bind-Value="model.AngleOfAttack" placeholder="25" />
                    <ValidationMessage For=@(() => model.AngleOfAttack) />
                    <label for="bladeAngleOfAttack">Angle of Attack (Degrees): </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <Button Type="ButtonType.Submit" Color="ButtonColor.Dark" Outline="true"> Submit </Button>
    </div>
    @if (errorMessage.Equals(string.Empty) == false)
    {
        <div class="row">
            <div class="text-danger">
                <p class="fw-bolder">
                    @errorMessage;
                </p>
            </div>
        </div>
    }
</EditForm>
<div class="row">
    <br />
</div>
<section class="row row-cols-5">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">
        <div class="form-floating mb-3">
            <select id="bladeSelect" class="form-select form-select-sm" @onchange="@OnBladeSelectChange">
                <option value="" selected>Select</option>
                @foreach (var blade in Blades)
                {
                    <option value="@blade.Id">@blade.Name</option>
                }
            </select>
            <label for="bladeSelect" class="col-md-2 col-form-label">Blades</label>
        </div>
    </div>
</section>

@if (designResults is not null && displayOutput)
{
    <section class="container-fluid">
        <h4>Design Outputs:</h4>
        <div class="row row-cols-4">
            <div class="col">
                <p>
                    Name =
                </p>
            </div>
            <div class="col">
                <p>
                    @designResults.Name
                </p>
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="col">
                <p>
                    Blade Length =
                </p>
            </div>
            <div class="col">
                <p>
                    @designResults.Length
                </p>
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="col">
                <p>
                    Blade Width =
                </p>
            </div>
            <div class="col">
                <p>
                    @designResults.Width
                </p>
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="col">
                <p>
                    Blade Thickness =
                </p>
            </div>
            <div class="col">
                <p>
                    @designResults.Thickness
                </p>
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="col">
                <p>
                    Blade Weight =
                </p>
            </div>
            <div class="col">
                <p>
                    @designResults.Weight
                </p>
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="col">
                <p>
                    Blade Angle of Attack =
                </p>
            </div>
            <div class="col">
                <p>
                    @designResults.AngleOfAttack
                </p>
            </div>
        </div>
    </section>
}

@code {
    [Inject] protected PreloadService PreloadService { get; set; }

    string errorMessage = string.Empty;
    CreateBladeModel model = new();
    List<BladeDto> Blades = new();

    BladeDto designResults { get; set; }
    bool displayOutput = false;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            var state = await AuthState.GetAuthenticationStateAsync();
            if (state is not null && state.User is not null && state.User.Identity!.IsAuthenticated is false)
            {
                await AuthService.RefreshAsync();
            }

            PreloadService.Show(SpinnerColor.Warning);

            var blades = await BladeEndpoints.GetBlades();

            if (blades.IsFailed)
            {
                errorMessage = blades.Reasons.Last().Message;
            }
            else
            {
                Blades = blades.Value;
            }
        }
        finally
        {
            StateHasChanged();
            PreloadService.Hide();
        }


    }

    protected async Task OnBladeSelectChange(ChangeEventArgs args)
    {
        var value = args.Value.ToString();

        if (string.IsNullOrEmpty(value) || value.Equals("Select"))
        {
            designResults = new();
            displayOutput = false;
            return;
        }

        var result = await BladeEndpoints.GetBladeById(value);
        designResults = result.Value;
        displayOutput = true;

        return;
    }

    private async Task OnValidSubmit()
    {
        designResults = new();
        displayOutput = false;

        try
        {
            PreloadService.Show(SpinnerColor.Warning);
            var result = await BladeEndpoints.CreateBladeAsync(model);

            if (result is null)
            {
                throw new Exception("No data returned from the server.");
            }

            if (result is not null && result.IsFailed)
            {
                throw new Exception("Could not calculate design parameters.");
            }

            designResults = result!.Value;
            displayOutput = true;
            Blades.Add(designResults);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        finally
        {
            StateHasChanged();
            PreloadService.Hide();
        }
    }
}