@page "/conceptualDesign"
@inject IAuthenticationService AuthService
@inject IConceptualDesignEndpoints ConceptualDesignEndpoints

<EditForm Model="@model" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="container-fluid">
        <h4>ConceptualDesign:</h4>
        <div class="row row-cols-3">
            <div class="col g-3">
                <div class="form-floating mb-3">
                    <InputNumber id="totalWeight" class="form-control" @bind-Value="model.TotalWeightOfeVtol" placeholder="500" />
                    <ValidationMessage For=@(() => model.TotalWeightOfeVtol) />
                    <label for="totalWeight">Total Weight (kg):</label>
                </div>
                <div class="form-floating mb-3">
                    <InputNumber id="payloadWeight" class="form-control" @bind-Value="model.PayloadMass" placeholder="100" />
                    <ValidationMessage For=@(() => model.PayloadMass) />
                    <label for="payloadWeight">Payload Weight (kg):</label>
                </div>
                <div class="form-floating mb-3">
                    <InputNumber id="flighTime" class="form-control" @bind-Value="model.FlightTimeInMinutes" placeholder="15" />
                    <ValidationMessage For=@(() => model.FlightTimeInMinutes) />
                    <label for="flightTime">Flight time in Min:</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-6">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <Button Type="ButtonType.Submit" Color="ButtonColor.Success" Outline="true">Submit</Button>
        </div>
    </div>
    @if (errorMessage.Equals(string.Empty) == false)
    {
        <div class="row">
            <div class="text-danger">
                <p class="fw-bolder">
                    @errorMessage;
                </p>
            </div>
        </div>
    }
</EditForm>

@if (designResults is not null && displayOutput)
{
    <section class="container-fluid">
        <h4>Design Outputs:</h4>
        <div class="row row-cols-4">
            <div class="col">
                <p>
                    Total Power Required =
                </p>
            </div>
            <div class="col">
                <p>
                    @designResults.ProwerRequirement
                </p>
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="col">
                <p>
                    Total Battery Size = 
                </p>
            </div>
            <div class="col">
                <p>
                    @designResults.BatteryCapacityRequirement
                </p>
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="col">
                <p>
                    Battery Weight = 
                </p>
            </div>
            <div class="col">
                <p>
                    @designResults.BatteryWeight
                </p>
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="col">
                <p>
                    Motor Weight = 
                </p>
            </div>
            <div class="col">
                <p>
                    @designResults.MotorWeight
                </p>
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="col">
                <p>
                    Horsepower required for liftoff = 
                </p>
            </div>
            <div class="col">
                <p>
                    @designResults.Horsepower
                </p>
            </div>
        </div>
    </section>
}


@code{
    bool displayOutput = false;
    CreateConceptualDesignModel model = new();
    string errorMessage = string.Empty;
    ConceptualDesignDto designResults = new();

    protected async override Task OnInitializedAsync()
    {
    }

    private async Task OnValidSubmit()
    {
        errorMessage = string.Empty;

        try
        {
            var result = await ConceptualDesignEndpoints.CreateConceptualDesign(model);

            if (result is null)
            {
                throw new Exception("No data returned from the server.");
            }

            if (result is not null && result.IsFailed)
            {
                throw new Exception("Could not calculate design parameters.");
            }

            designResults = result!.Value;
            displayOutput = true;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}